.sans-serif {
    font-family: sans-serif;
}
.serif {
    font-family: serif;
}
.verdana {
    font-family: verdana;
}
.monospace {
    font-family: monospace;
}
.nerko-one {
    font-family: "Nerko One", cursive;
}